/*----- Dokument Design -----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: #c8c8c8;
    height: auto;
    margin-bottom: 250px;
}
/*----- Dokument Design -----*/



/*----- Navigation Design -----*/
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 7% 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    background-color: black;
}

nav .logo {
    width: 300px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #c8c8c8;
    font-size: 25px;
}
/*----- Navigation Design -----*/



/*----- Navigation Animation -----*/
nav ul li a::after{
    content: '';
    width: 0%;
    height:3px;
    border-radius: 2px;
    background: rgb(200, 200, 200);
    display: block;
    margin: auto;
    transition: 0.75s ease;
}

nav ul li a:hover::after{
    width: 100%;
}
/*----- Navigation Animation -----*/



/*----- Bakgrund Design -----*/
.bakgrundsbild img {
    width: 100%;
    height: auto;
    position: static;
}

.bakgrundsbild h1 {
    background-color: black;
    position: fixed;
    z-index: 98;
    width: 300px;
    height: 300px;
}
/*----- Bakgrund Design -----*/



/*----- Sticky Rubrik Design -----*/
.rubrik {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 35px 7% 40px 7%;
    display: flex;
    justify-content: center;
    z-index: 98;
    background-color: black;
}

.rubrik h1 {
    font-size: 50px;
    font-weight: 100;
}
/*----- Sticky Rubrik Design -----*/



/*----- Text Design -----*/
.innehåll p {
    font-size: 25px;
    margin: 20px 15% 20px 15%;
    line-height: 35px;
}
/*----- Text Design -----*/



/*----- Avsnitt Design -----*/
.avsnitt {
    display: flex;
    margin: 0 5% 0;
    justify-content: center;
    flex-wrap: wrap;
}

.avsnitt img {
    aspect-ratio: 1/1;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50px;
    margin: 50px 50px;
}

.avsnitt p {
    margin-top: -20px;
    text-align: center;
}

/*----- Medier Design -----*/
.medier {
    display: flex;
    margin: 40px 5% 0;
    justify-content: center;
    flex-wrap: wrap;
}

.medier div {
    margin: 0 3% 0;
    text-align: center;
}

.medier img {
    width: 100px;
    margin: 0 35% 0;
}
/*----- Medier Design -----*/